<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sistema de Controle de Funcionários</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Página inicial <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="acesso-usuario">Acesso de Usuários</a>
        </li>      
        <li class="nav-item dropdown" *ngIf="isAuthenticated">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manter Funções
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="cadastro-funcao">Cadastrar nova função</a>
            <a class="dropdown-item" routerLink="consulta-funcao">Consultar funções</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="isAuthenticated">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manter Setores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="cadastro-setor">Cadastrar novo setor</a>
            <a class="dropdown-item" routerLink="consulta-setor">Consultar setores</a>
          </div>
        </li>    
        <li class="nav-item dropdown" *ngIf="isAuthenticated">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manter Funcionários
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="cadastro-funcionario">Cadastrar novo funcionário</a>
            <a class="dropdown-item" routerLink="consulta-funcionario">Consultar funcionários</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="btn btn-danger btn-sm text-white mt-1 ml-4"
             (click)="logout()">Logout</a>
        </li>          
      </ul>
    </div>
  </nav>
  <br/>
  <div class="container">
   
    <h2>Seja bem vindo ao projeto</h2>    
    Sistema desenvolvido em Angular consumindo WebApi em .NET CORE
    <hr/>

    <!-- local onde serao renderizados os componentes -->
    <router-outlet></router-outlet>

</div>
  
